.first,
.second,
.third {
    display: grid;
}

.parent_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 0.4rem solid black;
    height: 40rem;
    width: 80rem;
}

#g1,
#g2,
#g3,
#g4,
#g5,
#g6 {
    border: 0.4rem solid black;
}

.First1 {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.First2 {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.Second1 {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.Second2 {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.Third1 {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.Third2 {
    display: grid;
    grid-template-rows: 1fr 3fr;
}